{% extends "base.html" %}
{% load static %}

{% block title %}
   Book Detail
{% endblock title %}

{% block navbar_item %}
    <li class="nav-item">
        <a class="nav-link" href="/home">Home
        <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link text-primary" href="/displaybooks">Display Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/postbook">Request Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
    </li>
{% endblock navbar_item %}

{% block main_content %}
<h1 align="center"> {{ book.name }} Page </h1>
<table class="table table-striped table-bordered mx-auto" border="2">
    <thead class="thead-light">
        <tr>
            <th width="220">Picture</th>
            <th>Name</th>
            <th>Author</th>

        </tr>
    </thead>
    <tr>
        <td><center><img src="{% static book.pic_path %}" width="60" height="80"></center></td>
        <td>{{ book.name }}</td>
        <td>Sample Author</td>
    </tr>
</table>
<br><br>
<table class="table table-striped table-bordered mx-auto" border="2">
        <thead class="thead-light">
            <tr>
                <th colspan="4" style="text-align: center">Sellers of This Book</th>
            </tr>
        </thead>
        <tr>
            <th>Name</th>
            <th>Contact Info</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Sample Seller #1</td>
            <td>(650)309-9926</td>
            <td>69</td>
        </tr>
</table>
{% endblock main_content %}