{% extends "base.html" %}
{% load static %}

{% block title %}
   Book Detail
{% endblock title %}

{% block logo %}
<a class="navbar-brand" href="/">
<img src= "{% static 'logoHorz.png' %}" class="" style="width: 100px">
</a>
{% endblock logo%}

{% block navbar_item %}
    <li>
        <a href="{{ item.link }}"> {{ item.item }} </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link text-primary" href="/displaybooks">Display Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/postbook">Request Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/mybooks">Profile</a>
    </li>
{% endblock navbar_item %}

{% block main_content %}
<!--<h1 align="center"> {{ book.name }} Page </h1>-->
<div class="text-center">
    <h2> Book Detail Page </h2>
    <p> This book is currently available on the market.</p>
</div>

<table class="table table-striped table-bordered mx-auto" border="2">
    <thead class="thead-light">
        <tr>
            <th width="220">Picture</th>
            <th>Name</th>
            <th>Options</th>

        </tr>
    </thead>
    <tr>
        <td><center><img src="{% static book.pic_path %}" width="60" height="80"></center></td>
        <td>{{ book.name }}</td>
        <td>
            <a href="/book_addCart/{{book.id}}">Add to Cart</a>
        </td>
    </tr>
</table>
<br><br>

<div class="text-center">
    <h4> Reviews </h4>

    <p> If you want to write a review:
    <form method="POST" id="review_form" name="review_form">
        <label for="rating_title">Rating Title:</label>
        <input type="radio" name="rating_title" value="Best">Best
        <input type="radio" name="rating_title" value="Great">Great
        <input type="radio" name="rating_title" value="Okay">Okay
        <input type="radio" name="rating_title" value="Not Good">Not Good
        <br>
        <label for="review">Review:</label><br>
        <textarea rows="4" cols="50" name="review" form="review_form">Enter text here...
        </textarea><br>
    {% csrf_token %}
    </form>
    <button type="submit" form="review_form">Submit Review</button>
    </p>

    <table class="table table-striped table-bordered mx-auto" border="2">
    <thead class="thead-light">
        <tr>
            <th>Reviewer's Name</th>
            <th>Review</th>
            <th>Published Date</th>
            <th>Rating</th>
        </tr>
    </thead>

    {% if not reviews %}
    <tr>
        <td class="text-center" colspan="4">No Reviews Available.</td>
    </tr>
    {% else %}
    {% for item in reviews %}
    <tr>
        <td>{{ item.username }} </td>
        <td>{{ item.review }} </td>
        <td>{{ item.publishdate }} </td>
        <td>{{ item.rating }} </td>
    </tr>

    {% endfor %}
    {% endif %}
</div>

{% endblock main_content %}