{% extends "base.html" %}
{% load static %}

{% block title %}
   Display Books
{% endblock title %}

{% block logo %}
<a class="navbar-brand" href="/">
<img src= "{% static 'logoHorz.png' %}" class="" style="width: 100px">
</a>
{% endblock logo%}

{% block navbar_item %}
    <li class="nav-item active">
        <a class="nav-link text-primary" href="/displaybooks">Display Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/requestbook">Request Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/mybooks">Profile</a>
    </li>
{% endblock navbar_item %}

{% block main_content %}
<div class="text-center">
    <h2> Display Book Page </h2>
    <p> These are the books currently available on the market. <br>Click on the title of the book for more details.</p>
</div>

<div class="text-center">
    <p> If you want to sell a book:
    <a href="/postbook" class="btn btn-primary btn-sm ml-2">Sell Book Here</a>
    </p>
</div>

<table class="table table-striped table-bordered mx-auto" align="center" border="2">
    <thead class="thead-light">
        <tr>
            <th class="font-weight-bold">Title</th>
            <th class="font-weight-bold">Price</th>
            <th class="font-weight-bold">Seller's Username</th>
        </tr>
    </thead>
    {% for book in books %}
        <tr>
            <td>
                <a href="book_detail/{{ book.id }}">
                    {{ book.name }}
                </a>
            </td>
            <td>
                {{ book.price }}
            </td>
            <td>
                {{ book.username }}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock main_content %}