{% extends "base.html" %}
{% load static %}

{% block title %}
    My Books Book
{% endblock title %}

{% block logo %}
<a class="navbar-brand" href="/">
<img src= "{% static 'logoHorz.png' %}" class="" style="width: 100px">
</a>
{% endblock logo%}

{% block navbar_item %}
    <li class="nav-item active">
        <a class="nav-link text-primary" href="/displaybooks">Display Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/requestbook">Request Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/mybooks">Profile</a>
    </li>


{% endblock navbar_item %}

{% block main_content %}

<div class="text-center">
    <h2> My Books </h2>
<!--    <p> You can sell your book here. Your entry will automatically be entered in the market. Thank you!</p>-->
</div>

<table class="table table-striped table-bordered mx-auto" align="center" border="2">
    <thead class="thead-light">
        <tr>
            <th class="font-weight-bold">Title</th>
            <th class="font-weight-bold">Price</th>
            <th class="font-weight-bold">Seller's Username</th>
            <th class="font-weight-bold">Options</th>
        </tr>
    </thead>
    {% if not books %}
        <tr>
        <td class="text-center" colspan="4">You are not selling books currently.</td>
        </tr>
    {% else %}
    {% for book in books %}
        <tr>
            <td>
                <a href="book_detail/{{ book.id }}">
                    {{ book.name }}
                </a>
            </td>
            <td>
                {{ book.price }}
            </td>
            <td>
                {{ book.username }}
            </td>
            <td>
                <a href="book_delete/{{ book.id }}"> Delete Book </a>
            </td>
        </tr>
    {% endfor %}
    {% endif %}
</table>

{% endblock main_content %}

