{% extends "base.html" %}
{% load static %}

{% block title %}
   My Books
{% endblock title %}

{% block logo %}
<a class="navbar-brand" href="/">
<img src= "{% static 'logoHorz.png' %}" class="" style="width: 100px">
</a>
{% endblock logo%}

{% block navbar_item %}
    <li class="nav-item">
        <a class="nav-link" href="/displaybooks">Display Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/requestbook">Request Books</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link text-primary" href="/mybooks">Profile</a>
    </li>
{% endblock navbar_item %}

{% block content %}
<h1 align="center"> My Book Page </h1>
<table align="center" border="2" width="500">
    {% for book in books %}
        <tr>
            <td>
                <a href="book_detail/{{ book.id }}">
                    {{ book.name }}
                </a>
            </td>
            <td>
                {{ book.price }}
            </td>
            <td>
                {{ book.username }}
            </td>
            <td>
                <a href="book_delete/{{ book.id }}"> Delete Book </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}