{% extends "base.html" %}
{% load static %}

{% block title %}
    Post Book
{% endblock title %}


{% block main_content %}
<div class="text-center">
    <h2> Post Book </h2>
    <p> You can sell your book here. Your entry will automatically be entered in the market. Thank you!</p>
</div>

<div class="text-center">
    {% if submitted %}
    <p> Post Successfully! </p>
    {% else %}
    <form action="" enctype="multipart/form-data" method="post" novalidate>
        <table class="mx-auto">
            {{ form.as_table }}
            <tr>
                <td colspan="2">
                    <input type="submit" value="Submit">
                </td>
            </tr>
        </table>
        {% csrf_token %}
    </form>
    {% endif %}
</div>

{% endblock main_content %}