{% extends "base.html" %}
{% load static %}

{% block title %}
Book Requests
{% endblock title%}

{% block navbar_item %}
    <li class="nav-item">
        <a class="nav-link" href="/displaybooks">Display Books</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link text-primary" href="/requestbook">Request Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/mybooks">Profile</a>
    </li>
{% endblock navbar_item %}

{% block main_content %}
<div class="text-center">
    <h2> Request Book Page </h2>
    <p> If the book you wanted is not on the market, don't worry! You can request it here. <br> People who has the book can sell it to you.</p>
</div>

{% if submitted %}
    <p align="center">
        Post Successfully!
    </p>
{% else %}
    <form action="" enctype="multipart/form-data" method="post" novalidate>
        <table class="mx-auto text-center">
            {{ form.as_table }}
            <tr>
                <td colspan="2">
                    <input type="submit" value="Submit">
                </td>
            </tr>
        </table>
        {% csrf_token %}
    </form>
{% endif %}

<!-- Requests table-->
<table class="table table-striped table-bordered mx-auto" align="center" border="2">
    <thead class="thead-light">
        <tr>
            <th class="font-weight-bold">Title</th>
            <th class="font-weight-bold">Date Added By</th>
            <th class="font-weight-bold">Requester</th>
            <th class="font-weight-bold">Options</th>
        </tr>
    </thead>
    {% if not requests %}
    <tr>
        <td class="text-center" colspan="4">No item.</td>
    </tr>
    {% else %}
    {% for request in requests %}
        <tr>
            <td>
                {{ request.name }}
            </td>
            <td>
                {{ request.publishdate }}
            </td>
            <td>
                {{ request.username }}
            </td>
            <td>
                <a href="request_delete/{{ request.id }}">Delete</a>
            </td>
        </tr>
    {% endfor %}
    {% endif %}
</table>
<!--<h2>Total Price: ${{ totalPrice }}</h2>-->
{% endblock main_content %}


