{% extends "base.html" %}
{% load static %}

{% block title %}
Request Books
{% endblock title%}

{% block logo %}
<a class="navbar-brand" href="/">
<img src= "{% static 'logoHorz.png' %}" class="" style="width: 100px">
</a>
{% endblock logo%}

{% block navbar_item %}
    <li class="nav-item">
        <a class="nav-link" href="/displaybooks">Display Books</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link text-primary" href="/requestbook">Request Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/mybooks">Profile</a>
    </li>
{% endblock navbar_item %}

{% block main_content %}
<div class="text-center">
    <h2> Request Book Page </h2>
    <p> If the book you wanted is not on the market, don't worry! You can request it here. <br> People who has the book can sell it to you.</p>
</div>

{% if submitted %}
    <p align="center">
        Post Successfully!
    </p>
{% else %}
    <form action="" enctype="multipart/form-data" method="post" novalidate>
        <table class="mx-auto text-center">
            {{ form.as_table }}
            <tr>
                <td colspan="2">
                    <input type="submit" value="Submit">
                </td>
            </tr>
        </table>
        {% csrf_token %}
    </form>
{% endif %}

{% endblock main_content %}

